USE [master]
GO
/****** Object:  Database [RestaurantManagementSystem]    Script Date: 1/6/2024 7:10:24 PM ******/
CREATE DATABASE [RestaurantManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestaurantManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER123\MSSQL\DATA\RestaurantManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'sa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER123\MSSQL\DATA\sa.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestaurantManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER123\MSSQL\DATA\RestaurantManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[RestaurantManagementSystem] TO [sa]
GO
USE [RestaurantManagementSystem]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Schema [Restaurant]    Script Date: 1/6/2024 7:10:25 PM ******/
CREATE SCHEMA [Restaurant] AUTHORIZATION [dbo]
GO
/****** Object:  Table [Restaurant].[Account]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Account](
	[Account ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Password] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK__Account__5073872CE8C25900] PRIMARY KEY CLUSTERED 
(
	[Account ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [Restaurant].[Account] TO  SCHEMA OWNER 
GO
/****** Object:  Table [Restaurant].[Address]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Address](
	[Address ID] [int] IDENTITY(1,1) NOT NULL,
	[Address Line 1] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[City] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Country] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[State] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Customer ID] [int] NULL,
	[Employee ID] [int] NULL,
 CONSTRAINT [PK__Address__F49A6398582FAD65] PRIMARY KEY CLUSTERED 
(
	[Address ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [Restaurant].[Address] TO  SCHEMA OWNER 
GO
/****** Object:  Table [Restaurant].[admin]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[admin](
	[Admin ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Username] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Email Address] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Gender] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Caste] [nchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Password] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK__admin__9BFA177286BF85DE] PRIMARY KEY CLUSTERED 
(
	[Admin ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [Restaurant].[admin] TO  SCHEMA OWNER 
GO
/****** Object:  Table [Restaurant].[Category]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Category](
	[Category ID] [int] IDENTITY(1,1) NOT NULL,
	[Category Name] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Category Description] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK__Category__788261ECE12344E2] PRIMARY KEY CLUSTERED 
(
	[Category ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [Restaurant].[Category] TO  SCHEMA OWNER 
GO
/****** Object:  Table [Restaurant].[Customer]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Customer](
	[Customer ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer Name] [nchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Mobile No] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email Address] [nchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Gender] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK__Customer__9CF1F3A8E9E1DA6A] PRIMARY KEY CLUSTERED 
(
	[Customer ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [Restaurant].[Customer] TO  SCHEMA OWNER 
GO
/****** Object:  Table [Restaurant].[Employee]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Employee](
	[Employee ID] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Name] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Role] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Salary] [bigint] NOT NULL,
	[Hire Date] [date] NOT NULL,
	[Gender] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK__Employee__C4BD94970ED58A5E] PRIMARY KEY CLUSTERED 
(
	[Employee ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [Restaurant].[Employee] TO  SCHEMA OWNER 
GO
/****** Object:  Table [Restaurant].[MenuItem]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Restaurant].[MenuItem](
	[Menu Item ID] [int] IDENTITY(1,1) NOT NULL,
	[Category ID] [int] NOT NULL,
	[Item Name] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Item Description] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Price] [float] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK__MenuItem__E5A5A263F453AF8E] PRIMARY KEY CLUSTERED 
(
	[Menu Item ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [Restaurant].[MenuItem] TO  SCHEMA OWNER 
GO
/****** Object:  Table [Restaurant].[Orders]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Orders](
	[Order ID] [int] IDENTITY(1,1) NOT NULL,
	[Menu Item ID] [int] NOT NULL,
	[Customer ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Total Amount] [float] NOT NULL,
	[Order Quantity] [int] NOT NULL,
 CONSTRAINT [PK__Orders__81BDAE1E952C3D4E] PRIMARY KEY CLUSTERED 
(
	[Order ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [Restaurant].[Orders] TO  SCHEMA OWNER 
GO
/****** Object:  Table [Restaurant].[Payment]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Payment](
	[Payment ID] [int] IDENTITY(1,1) NOT NULL,
	[Order ID] [int] NOT NULL,
	[Payment Date] [date] NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK__Payment__CA228514993CF1B8] PRIMARY KEY CLUSTERED 
(
	[Payment ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [Restaurant].[Payment] TO  SCHEMA OWNER 
GO
/****** Object:  Table [Restaurant].[Reservation]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Reservation](
	[Reservation ID] [int] IDENTITY(1,1) NOT NULL,
	[Table ID] [int] NOT NULL,
	[Customer ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Number of People] [int] NULL,
	[timeslot] [time](7) NULL,
 CONSTRAINT [PK__Reservat__27E3A43451C66754] PRIMARY KEY CLUSTERED 
(
	[Reservation ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [Restaurant].[Reservation] TO  SCHEMA OWNER 
GO
/****** Object:  Table [Restaurant].[Tables]    Script Date: 1/6/2024 7:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Restaurant].[Tables](
	[Table ID] [int] IDENTITY(1,1) NOT NULL,
	[Table Status] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK__Tables__C42A3BC778A4346D] PRIMARY KEY CLUSTERED 
(
	[Table ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [Restaurant].[Tables] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [Restaurant].[Address] ON 

INSERT [Restaurant].[Address] ([Address ID], [Address Line 1], [City], [Country], [State], [Customer ID], [Employee ID]) VALUES (1, N'Johar', N'Karachi', N'Pakistan', N'Sindh', NULL, NULL)
INSERT [Restaurant].[Address] ([Address ID], [Address Line 1], [City], [Country], [State], [Customer ID], [Employee ID]) VALUES (2, N'Johar', N'Karachi', N'Pakistan', N'Sindh', NULL, NULL)
INSERT [Restaurant].[Address] ([Address ID], [Address Line 1], [City], [Country], [State], [Customer ID], [Employee ID]) VALUES (4, N'Johar', N'Karachi', N'Pakistan', N'Sindh', NULL, 8)
SET IDENTITY_INSERT [Restaurant].[Address] OFF
GO
SET IDENTITY_INSERT [Restaurant].[Category] ON 

INSERT [Restaurant].[Category] ([Category ID], [Category Name], [Category Description]) VALUES (1, N'Desi', N'Authentic South Asian culinary delights.')
INSERT [Restaurant].[Category] ([Category ID], [Category Name], [Category Description]) VALUES (3, N'Fast Food', N'Quick bites, speedy satisfaction – fast delights!')
INSERT [Restaurant].[Category] ([Category ID], [Category Name], [Category Description]) VALUES (4, N'Bar B Que', N'Grilled perfection awaits your taste buds.')
SET IDENTITY_INSERT [Restaurant].[Category] OFF
GO
SET IDENTITY_INSERT [Restaurant].[Customer] ON 

INSERT [Restaurant].[Customer] ([Customer ID], [Customer Name], [Mobile No], [Email Address], [Gender]) VALUES (3, N'uzair                         ', N'1234567   ', N'uzairsaeedi123@gmail.com      ', N'Male      ')
INSERT [Restaurant].[Customer] ([Customer ID], [Customer Name], [Mobile No], [Email Address], [Gender]) VALUES (6, N'umema                         ', N'031000000 ', N'abc/////                      ', N'Female    ')
INSERT [Restaurant].[Customer] ([Customer ID], [Customer Name], [Mobile No], [Email Address], [Gender]) VALUES (7, N'umaima                        ', N'1234567788', N'umema@gmail.com               ', N'Male      ')
SET IDENTITY_INSERT [Restaurant].[Customer] OFF
GO
SET IDENTITY_INSERT [Restaurant].[Employee] ON 

INSERT [Restaurant].[Employee] ([Employee ID], [Phone], [Name], [Role], [Salary], [Hire Date], [Gender]) VALUES (1, N'12345678', N'Alqama', N'Chef', 80000, CAST(N'2022-05-15' AS Date), N'Male')
INSERT [Restaurant].[Employee] ([Employee ID], [Phone], [Name], [Role], [Salary], [Hire Date], [Gender]) VALUES (2, N'12345678', N'Ashhad', N'Chef', 70000, CAST(N'2022-07-15' AS Date), N'Male')
INSERT [Restaurant].[Employee] ([Employee ID], [Phone], [Name], [Role], [Salary], [Hire Date], [Gender]) VALUES (3, N'12345678', N'Bablu', N'Chef', 90000, CAST(N'2019-07-15' AS Date), N'Male')
SET IDENTITY_INSERT [Restaurant].[Employee] OFF
GO
SET IDENTITY_INSERT [Restaurant].[MenuItem] ON 

INSERT [Restaurant].[MenuItem] ([Menu Item ID], [Category ID], [Item Name], [Item Description], [Price], [Image]) VALUES (2, 1, N'Briyani', N'sdjhffjd', 1000, NULL)
INSERT [Restaurant].[MenuItem] ([Menu Item ID], [Category ID], [Item Name], [Item Description], [Price], [Image]) VALUES (3, 1, N'Chicken Makhni Handi', N'Savory Desi Delight, Creamy Chicken.', 1050, NULL)
INSERT [Restaurant].[MenuItem] ([Menu Item ID], [Category ID], [Item Name], [Item Description], [Price], [Image]) VALUES (4, 1, N'Chicken Achari Karhai', N'Spicy, tangy chicken karhai.', 1000, NULL)
SET IDENTITY_INSERT [Restaurant].[MenuItem] OFF
GO
SET IDENTITY_INSERT [Restaurant].[Orders] ON 

INSERT [Restaurant].[Orders] ([Order ID], [Menu Item ID], [Customer ID], [Date], [Total Amount], [Order Quantity]) VALUES (1, 7, 7, CAST(N'2023-12-27' AS Date), 2250, 3)
INSERT [Restaurant].[Orders] ([Order ID], [Menu Item ID], [Customer ID], [Date], [Total Amount], [Order Quantity]) VALUES (2, 4, 9, CAST(N'2023-12-27' AS Date), 1000, 1)
INSERT [Restaurant].[Orders] ([Order ID], [Menu Item ID], [Customer ID], [Date], [Total Amount], [Order Quantity]) VALUES (3, 2, 12, CAST(N'2023-12-27' AS Date), -2000, -2)
SET IDENTITY_INSERT [Restaurant].[Orders] OFF
GO
SET IDENTITY_INSERT [Restaurant].[Reservation] ON 

INSERT [Restaurant].[Reservation] ([Reservation ID], [Table ID], [Customer ID], [Date], [Number of People], [timeslot]) VALUES (2, 1, 3, CAST(N'2023-12-27' AS Date), 5, NULL)
INSERT [Restaurant].[Reservation] ([Reservation ID], [Table ID], [Customer ID], [Date], [Number of People], [timeslot]) VALUES (3, 1, 3, CAST(N'2023-12-27' AS Date), 3, NULL)
INSERT [Restaurant].[Reservation] ([Reservation ID], [Table ID], [Customer ID], [Date], [Number of People], [timeslot]) VALUES (4, 1, 3, CAST(N'2023-12-05' AS Date), 4, NULL)
SET IDENTITY_INSERT [Restaurant].[Reservation] OFF
GO
SET IDENTITY_INSERT [Restaurant].[Tables] ON 

INSERT [Restaurant].[Tables] ([Table ID], [Table Status]) VALUES (1, N'Active')
INSERT [Restaurant].[Tables] ([Table ID], [Table Status]) VALUES (2, N'active')
INSERT [Restaurant].[Tables] ([Table ID], [Table Status]) VALUES (3, N'2')
SET IDENTITY_INSERT [Restaurant].[Tables] OFF
GO
ALTER TABLE [Restaurant].[Address]  WITH CHECK ADD  CONSTRAINT [Fk_AddressID] FOREIGN KEY([Customer ID])
REFERENCES [Restaurant].[Customer] ([Customer ID])
GO
ALTER TABLE [Restaurant].[Address] CHECK CONSTRAINT [Fk_AddressID]
GO
ALTER TABLE [Restaurant].[Address]  WITH CHECK ADD  CONSTRAINT [Fk_AddressID_Employee] FOREIGN KEY([Employee ID])
REFERENCES [Restaurant].[Employee] ([Employee ID])
GO
ALTER TABLE [Restaurant].[Address] CHECK CONSTRAINT [Fk_AddressID_Employee]
GO
ALTER TABLE [Restaurant].[MenuItem]  WITH CHECK ADD  CONSTRAINT [FK_CategoryID] FOREIGN KEY([Category ID])
REFERENCES [Restaurant].[Category] ([Category ID])
GO
ALTER TABLE [Restaurant].[MenuItem] CHECK CONSTRAINT [FK_CategoryID]
GO
ALTER TABLE [Restaurant].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_CustomerID] FOREIGN KEY([Customer ID])
REFERENCES [Restaurant].[Customer] ([Customer ID])
GO
ALTER TABLE [Restaurant].[Orders] CHECK CONSTRAINT [FK_CustomerID]
GO
ALTER TABLE [Restaurant].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_MenuItem_ID] FOREIGN KEY([Menu Item ID])
REFERENCES [Restaurant].[MenuItem] ([Menu Item ID])
GO
ALTER TABLE [Restaurant].[Orders] CHECK CONSTRAINT [FK_MenuItem_ID]
GO
ALTER TABLE [Restaurant].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_OrderID] FOREIGN KEY([Order ID])
REFERENCES [Restaurant].[Orders] ([Order ID])
GO
ALTER TABLE [Restaurant].[Payment] CHECK CONSTRAINT [FK_OrderID]
GO
ALTER TABLE [Restaurant].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_CustomerID1] FOREIGN KEY([Customer ID])
REFERENCES [Restaurant].[Customer] ([Customer ID])
GO
ALTER TABLE [Restaurant].[Reservation] CHECK CONSTRAINT [FK_CustomerID1]
GO
ALTER TABLE [Restaurant].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_TableID] FOREIGN KEY([Table ID])
REFERENCES [Restaurant].[Tables] ([Table ID])
GO
ALTER TABLE [Restaurant].[Reservation] CHECK CONSTRAINT [FK_TableID]
GO
USE [master]
GO
